/* colors */
:root {
    --darkg: #585556;
    --lightg: #d7d9ce;
    --red: #5e0813; 
    --darkb: #08415c;
    --lightb: #90e0ef;
    --blue: #00b4d8;
    --yellow: #ffbf00;
}

html { 
    background: url(images\bkgd\bkgd.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#bg {
    position:fixed; 
    top:-50%; 
    left:-50%; 
    width:200%; 
    height:200%;
}

#bg img {
    position:absolute; 
    top:0; 
    left:0; 
    right:0; 
    bottom:0; 
    margin:auto; 
    min-width:50%;
    min-height:50%;
    z-index: 1;
}

#page-wrap {
    position: relative;
    z-index: 2;
    width: 97%;
    margin: 25px auto;
    padding: 5px 20px 20px 20px;
    background: white;
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black
}

#page-wraps {
    position: relative;
    z-index: 2;
    width: 90%;    
    margin: 50px auto;
    background: white;
    -moz-box-shadow: 0 0 20px black;
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black
}

.headshot {
    margin: 5px;
}

.divider {
    margin-top: 25px;
    margin-bottom: 15px;
}

.site-header-visible {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
}
.site-header {
    position: fixed;
    top: 36px;
    height: 90px;
    left: 0;
    padding: 0 60px;
    z-index: 220;
    opacity: 0;
    visibility: hidden;
    margin-top: -10px;
    transition: all .5s;
}
.w-100 {
    width: 100%!important;
}
*, :after, :before {
    box-sizing: border-box;
}
user agent stylesheet
header {
    display: block;
}

#footer {
    position: relative;
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    background-color: #08415c;
    color: white;
    bottom: 0pt;
    left: 0pt;
    text-align: center;
    z-index: 2;

}